@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
}
.display {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.main {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid black;
}
.main1Div {
  display: flex;
  align-items: center;
  margin: 1em;
}
.main1Div .img {
  display: flex;
}
.main1Div .img span {
  border: 4px solid #f3ae00;
  background: rgb(31, 28, 28);
  width: 2em;
  height: 2em;
  color: whitesmoke;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 1em;
}
.nameAndTagline {
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  /* width: 15em; */
  height: auto;
  padding: 1em;
  gap: 0.3em;
}
.nameAndTagline h1 {
  font-size: 2.5rem;
}

.nameAndTagline p {
  color: #f3ae00;
  font-size: 1.2rem;
}
.nameAndTagline div {
  color: rgb(87, 87, 87);
  font-size: 1.1rem;
}
.sidebar {
  width: 30%;
  border: 1px solid goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.info {
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  background: rgb(36, 35, 35);
  gap: 0.5em;
}
.line {
  display: flex;
  align-items: center;
  gap: 1em;
}
.line span {
  width: 2.5em;
  height: 2.5em;
  border: 2px solid #f3ae00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3ae00;
}
.line p {
  color: white;
}
