@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
}
.display {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.main {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.main1Div {
  display: flex;
  align-items: center;
  margin: 1em;
}
.main1Div .img {
  display: flex;
}
.main1Div .img span {
  border: 4px solid #f3ae00;
  background: rgb(31, 28, 28);
  width: 2em;
  height: 2em;
  color: whitesmoke;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 1em;
}
.nameAndTagline {
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  /* width: 15em; */
  height: auto;
  padding: 1em;
  gap: 0.3em;
}
.nameAndTagline h1 {
  font-size: 2.5rem;
}

.nameAndTagline p {
  color: #f3ae00;
  font-size: 1.2rem;
}
.nameAndTagline div {
  color: rgb(87, 87, 87);
  font-size: 1.1rem;
  line-height: 1.4em;
}
.main2Div {
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.iconAndHeading {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.iconAndHeading span {
  width: 3em;
  height: 3em;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconAndHeading span i {
  font-size: 1.5rem;
}
.iconAndHeading .skillIcon {
  width: 2em;
  height: 2em;
}
.iconAndHeading p {
  font-size: 1.6rem;
  font-weight: 500;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
.skills .skill {
  display: flex;
  gap: 6em;
}

.main3Div {
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.educationDiv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.education div {
  font-size: 1.56rem;
  font-weight: 500;
}
.education span {
  font-size: 1.3rem;
  font-weight: 400;
}
.education p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 5px;
}

/* -------- */
.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;
}
.info {
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  background: rgb(36, 35, 35);
  gap: 0.7em;
}
.line {
  display: flex;
  align-items: center;
  gap: 1em;
}
.line span {
  width: 2.5em;
  height: 2.5em;
  border: 2px solid #f3ae00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3ae00;
}
.line p {
  color: white;
}

.secondBar {
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  background: rgb(36, 35, 35);
  gap: 0.7em;
}
.iconAndHeadingSideBar {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.iconAndHeadingSideBar span {
  width: 3em;
  height: 3em;
  border: 2px solid #f3ae00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconAndHeadingSideBar span i {
  font-size: 1.5rem;
  color: #f3ae00;
}
.iconAndHeadingSideBar .skillIcon {
  width: 2em;
  height: 2em;
}
.iconAndHeadingSideBar p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #f3ae00;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8em;
  padding: 1.2em;
}
.project {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.project a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.project i {
  color: white;
  font-size: 0.8rem;
}
.language {
  color: white;
  font-size: 1.4rem;
}
